<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Website</title>
</head>
<body>
    <h1>E-Commerce Website</h1>
    <h3>Product Lists</h3>

    <div id="productLists">
        
    </div>
    <br><br>
    <button style="margin-left: 100px;" id="cart" href="../Template/cart.html"> Proceed to pay </button>

    <script type="module" src="../../dist/app.js"></script>
</body>
</html>